<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de likes</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Publicacion </mat-label>
            <mat-select formControlName="idPublication">
              <mat-option
                *ngFor="let u of listaPublicaciones"
                [value]="u.idPublication"
              >
                {{ u.title }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="obtenerControlCampo('idPublication')?.errors?.['required']"
            >
              El usuario es obligatorio.
            </mat-error>
        </mat-form-field>
        <br />
       
        <br />

        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/componentsypeusers/lista">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>