<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Roles</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Roles</mat-label>
          <input
            matInput
            placeholder="Rol"
            formControlName="typeAccount"
          />
          <mat-error
            *ngIf="obtenerControlCampo('typeAccount')?.errors?.['required']"
          >
            El Tipo es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Estado</mat-label>
          <input
            matInput
            placeholder="Estado"
            formControlName="stateType"
          />
          <mat-error
            *ngIf="obtenerControlCampo('stateType')?.errors?.['required']"
          >
            El estado es obligatorio .
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Usuario </mat-label>
          <mat-select formControlName="useror">
            <mat-option
              *ngFor="let u of listaUsuarios"
              [value]="u.idUser"
            >
              {{ u.userName }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('useror')?.errors?.['required']"
          >
            El usuario es obligatorio.
          </mat-error>
      </mat-form-field>
      <br />
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/componentsypeusers/lista">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
