<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <br />
      <h2 style="text-align: center">Lista de event-user</h2>
      <!-- Cambié "ubicaiones" a "ubicaciones" -->
      <div style="text-align: right">
        <button
          mat-raised-button
          color="primary"
          routerLink="/MaterialUserControllet/nuevo"
        >
          Nuevo
        </button>
      </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Agregué un atributo para definir las columnas que se mostrarán -->
        <ng-container matColumnDef="idMaterialUse">
          <th mat-header-cell *matHeaderCellDef>idMaterialUse</th>
          <td mat-cell *matCellDef="let element">{{ element.idMaterialUser }}</td>
        </ng-container>

        <ng-container matColumnDef="idRecyclableMaterial">
          <th mat-header-cell *matHeaderCellDef>idRecyclableMaterial</th>
          <td mat-cell *matCellDef="let element">
            {{ element.idRecyclableMaterial.idRecyclableMaterial }}
          </td>
        </ng-container>

        <ng-container matColumnDef="idUser">
          <th mat-header-cell *matHeaderCellDef>idUser</th>
          <td mat-cell *matCellDef="let element">{{ element.idUser.idUser }}</td>
        </ng-container>

        <!-- Otras columnas -->
        <!-- Otras columnas -->

        <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="warn"
              [routerLink]="['ediciones', element.idMaterialUse]"
            >
              Actualizar
            </button>
          </td></ng-container
        >
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </body>
</html>
