<div class="container">
    <h2>Crea tu Evento</h2>
    <form [formGroup]="form" (submit)="onSubmit()">
      
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label for="title">Título</mat-label>
        <input matInput type="text" id="title" formControlName="title" required>
      </mat-form-field>

      <br/>
      <mat-form-field class="example-full-width">
        <mat-label>Ingrese fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" required
               [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
     <br/> 

      <mat-form-field class="example-full-width">
        <mat-label for="description">Escriba una descripción</mat-label>
        <textarea matInput type="text" id="description" formControlName="description" required  style="height: 110px;"></textarea>
      </mat-form-field>
      
        <br />
      
        <mat-form-field class="example-full-width">
          <mat-label for="hora">Hora:</mat-label>
          <input matInput type="number" id="hora" formControlName="hora" required max="24" min="0">
          <mat-error *ngIf="form.controls['hora'].hasError('max')">
            La hora no puede ser mayor a 24.
          </mat-error>
        </mat-form-field>
        
      
        <br />
 
        <mat-form-field class="example-full-width">
          <mat-label for="numberParticipant">Numero de participantes</mat-label>
          <input matInput type="number" id="numberParticipant" formControlName="numberParticipant" min="0">
          <mat-error *ngIf="form.controls['numberParticipant'].hasError('min')">
            El número de participantes no puede ser menor a 0.
          </mat-error>
        </mat-form-field>
        
      
        <br />

      <div class="container-flex">
        <mat-form-field class="form-ciudad">
          <mat-label for="addressUbication">Dirección</mat-label>
          <input matInput type="text" id="addressUbication" formControlName="addressUbication" required>
        </mat-form-field> <br/>
        
      
        <mat-form-field class="form-ciudad">
          <input type="text" placeholder="Distrito" matInput formControlName="cityUbication" [matAutocomplete]="auto" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredTipoCiudad | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        
      </div>
<br>
<mat-form-field class="example-full-width">
  <mat-label for="contactUbication">Número de contacto</mat-label>
  <input matInput type="number" id="contactUbication" formControlName="contactUbication" required pattern="9\d{8}">
  <mat-error *ngIf="form.get('contactUbication')?.hasError('required')">El número de contacto es obligatorio.</mat-error>
  <mat-error *ngIf="form.get('contactUbication')?.hasError('pattern')">El número de contacto debe comenzar con '9' y tener exactamente 9 dígitos.</mat-error>
</mat-form-field>
 <br>

      <mat-form-field class="example-full-width">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="typeUbication">
        <mat-option *ngFor="let p of tipoLugar" [value]="p.value">
        {{ p.viewValue }}
        </mat-option>
        </mat-select>
        </mat-form-field>
      <br />
  

      <mat-form-field class="example-full-width">
        <mat-label for="descUbication">Referencia de Ubicación:</mat-label>
        <input matInput type="text" id="descUbication" formControlName="descUbication">
      </mat-form-field> <br/>
      
      <div class="contenedor-btn">
  <button class="btn-verde btn-regular"  type="submit" [disabled]="!form.valid">Subir</button>
  <button class="btn-rojo btn-regular" onclick="window.location.href=''" >Cancelar</button>
</div>

    </form>
  </div>
  
  
  